/* styles the select login window on the index.html page */

.nauLetterLogo {
	margin-top: 100px;
}

.loginWindow {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-content: space-evenly;
	justify-content: space-evenly;
	background-color: #002454;
	border-style: double;
	border-color: #FAC01A;
	border-width: 2px;
	height: 30vh;
	width: 25vw;
	margin: auto;
}

.carrotBanner {
	margin-top: 10px;
}

/* #### HOME.HTML STYLING WILL FOLLOW UNDER HERE #### */
/* styles all the forms on the home page */
form {
	display: flex;
	align-items: center;
	flex: 1;
	align-content: space-evenly;
	justify-content: space-evenly;
}

/* styles the milestones update button on the home page */
.milestoneUpdate {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-content: space-evenly;
	justify-content: space-evenly;
	background-color: #c9c9c9;
	border-style: double;
	border-color: #0a0a0a;
	border-width: 2px;
	height: 30vh;
	width: 25vw;
	margin: 25vh 37.5vw;
}

/* styles the milestones bar on the home page */
.progressBar {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: stretch;
	background-color: #C3B8B2;
	border-style: solid;
	border-color: #FAC01A;
	width: 90vw;
	left: 5vw;
	top: 5vh;
	margin: auto;
}
/* styles the milestones in the progress bar */
.milestone{
	flex: 1;
	border-style: solid;
	border-top-style: none;
	border-width: 1px;
	border-spacing: 0px;
	border-color: #FAC01A;
	background-color: #C3B8B2;
	text-align: center;
	text-justify: center;
	cursor: pointer;
}


/* styles the drop down menu */
.milestoneData{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: stretch;
	background-color: #C3B8B2;
	border-style: solid;
	border-top-style: none;
	border-color: #FAC01A;
	width: 20vw;
	left: 4.70vw;
	top: 8vh;
}

/* styles the task bars in the drop down menu */
.milestoneDataText{
	flex: 1;
	width: inherit;
	border-style: none;
	border-top-style: solid;
	border-color: #FAC01A;
	background-color: #C3B8B2;
	text-align: center;
	text-justify: center;
	cursor: pointer;
}

.dropdown {
	display: none;
}

.signOut {
	vertical-align: right;
}

.fileView {
	position: absolute;
	background-color: #C3B8B2;
	border-style: solid;
	border-color: #FAC01A;
	width: 75vw;
	height: 85vh;
	left: 20vw;
	top: 5vh;
}