/* styles the select landing page on the index.html page */

.nauLetterLogo {
	margin-top: 10px;
}

.loginWindow {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-content: space-evenly;
	justify-content: space-evenly;
	background-color: #002454;
	border-style: double;
	border-color: #FAC01A;
	border-width: 4px;
	height: 75vh;
	width: 45vw;
	margin: auto;
	max-height:600px;
	max-width: 630px;
}

.carrotBanner {
	margin-top: 10px;
}

/* #### All Google Sign-In Button STYLING BEGINS HERE #### */
.g_id_signin {
	text-align: center;
	width: 50%;
	margin: auto;
	max-width: fit-content;
}

/* #### Styles the admin.html page #### */
.searchWindow {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-content: space-evenly;
	justify-content: space-evenly;
	background-color: #002454;
	border-style: double;
	border-color: #FAC01A;
	border-width: 4px;
	height: 75vh;
	width: 45vw;
	margin: auto;
	max-height: 200px;
}


/* #### HOME.HTML STYLING WILL FOLLOW UNDER HERE #### */
/* styles all the forms on the home page */
form {
	display: flex;
	align-items: center;
	flex: 1;
	align-content: space-evenly;
	justify-content: space-evenly;
}

/* styles the phases bar on the home page */
.progressBar {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: stretch;
	background-color: #00ADB5;
	border-style: solid;
	border-color: #000000;
	width: 90vw;
	left: 5vw;
	top: 5vh;
	margin: auto;
}
/* styles the milestones in the progress bar */
.milestone{
	flex: 1;
	border-style: solid;
	border-top-style: none;
	border-width: 1px;
	border-spacing: 0px;
	border-color: #000000;
	background-color: #00ADB5;
	text-align: center;
	text-justify: center;
	cursor: pointer;
}


/* styles the drop down menu */
.milestoneData{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: stretch;
	background-color: #00ADB5;
	border-style: solid;
	border-top-style: none;
	border-color: #000000;
	width: 20vw;
	left: 4.70vw;
	top: 8vh;
}

/* styles the task bars in the drop down menu */
.milestoneDataText{
	flex: 1;
	width: inherit;
	border-style: none;
	border-top-style: solid;
	border-color: #000000;
	background-color: #00ADB5;
	text-align: center;
	text-justify: center;
	cursor: pointer;
}

.dropdown {
	display: none;
}

.signOut {
	vertical-align: right;
}

.fileView {
	position: absolute;
	background-color: #00ADB5;
	border-style: solid;
	border-color: #000000;
	width: 75vw;
	height: 85vh;
	left: 20vw;
}