/* styles the login window div on the index.html page */
.loginWindow {
	display: block;
	flex-direction: column;
	text-align: center;
	align-content: space-evenly;
	justify-content: space-evenly;
	background-color: #002454;
	border-style: solid;
	border-color: #F68300;
	border-width: 2px;
	height: 75vh;
	width: 45vw;
	margin: auto;
	max-height:275px;
	max-width: 500px;
	min-width: 300px;
}
 
/* Styles the Team's carrot banner logo seen on many pages.*/
.carrotBanner {
	text-align: center;
	display: block;
	margin: auto;
	margin-top: 15%;
}

/* #### All Google Sign-In Button STYLING BEGINS HERE #### */
.g_id_signin {
	text-align: center;
	width: auto;
	margin: auto;
	max-width: fit-content;
}

#buttonDiv {
	text-align: center;
	width: auto;
	margin: auto;
	max-width: fit-content;
}

/* #### All index.html/admin.html FORM styling begins here #### */
.formWindow {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-content: space-evenly;
	justify-content: space-evenly;
	background-color: #007A33;
	border-style: solid;
	border-color: #002454;
	border-width: 2px;
	height: 75vh;
	width: 45vw;
	margin: auto;
	margin-top: 500px;
	max-height:250px;
	max-width: 325px;
	min-width: 325px;
}

.createUserForm {
	display: block;
}

.editUserForm {
	display: block;
}

.createUserForm {
	display: block;
}

.editUserForm {
	display: block;
}

.headerWrapper {
	text-align: center;
	background-color: #FAC01A;
	color:#000000
}

.submitFormHolder {
	text-align: center;
}

/* #### ALL MODAL STYLING FOR THE ADMIN.HTML PAGE WILL BEGIN HERE*/
.modal {
	display: none; /* Hidden by default */
  	position: fixed; /* Stay in place */
  	z-index: 1; /* Sit on top */
  	padding-top: 100px; /* Location of the box */
  	left: 0;
  	top: 0;
  	width: 100%; /* Full width */
  	height: 100%; /* Full height */
  	overflow: auto; /* Enable scroll if needed */
  	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

.createUserModalContent {
	text-align: left;
	color:#ffffff;
	align-content: space-evenly;
	justify-content: space-evenly;
	background-color: #002454;
  	margin: auto;
 	padding: 7px;
  	border: 1px solid #FAC01A;
  	width: 30%; /* Could be more or less, depending on screen size */
	height: 50%;
	min-width: 300px;
	min-height: 475px;
}

.headerWrapper {
	text-align: center;
	background-color: #FAC01A;
	color:#000000
}

.submitFormHolder {
	text-align: center;
}

/* The Close Modal Button */
.close {
	color: #ffffff;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }

  /* #### Sign out Button styling starts here ####*/
.g_id_signout {
	display: inline;
	flex-direction: column;
	text-align: center;
	align-content: space-evenly;
	justify-content: space-evenly;
	height: 10vh;
	width: 5vw;
	margin: auto;
	margin-top: 1ch;
	margin-left: 90%;
	max-height:10%;
	max-width: 300px;
	min-width: 8%;
	min-height: 7%;
}

.signOutButton {
	color: #ffffff;
	background-color: #CF4527;
}

input[type=submit] {
	background-color: #ffffff;
	border: none;
	color: rgb(0, 0, 0);
	padding: 7px 15px;
	text-decoration: none;
	margin: 20px 20px;
	cursor: pointer;
}

/* Style the search field */
form.studentSearch input[type=text] {
	margin-top: 2ch;
	padding: 10px;
	font-size: 17px;
	border: 1px solid grey;
	align-content: center;
	width: 30%;
	background: #f1f1f1;
  }

/* Style the submit button */
form.studentSearch button {
	margin-top: 2ch;
	float: center;
	width: 20%;
	padding: 10px;
	background: #2196F3;
	color: white;
	font-size: 17px;
	border: 1px solid grey;
	border-left: none; /* Prevent double borders */
	cursor: pointer;
  }

/* #### Styling for the admin.html page begins here #### */

/* Styles the task bar div holding the three available buttons.*/
.adminControlsTaskBar {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: stretch;
	background-color: #002454;
	border-style: solid;
	border-color: #FAC01A;
	width: 35vw;
	height: 13vh;
	left: 5vw;
	top: 5vh;
	margin: auto;
	min-width: 30vw;
	min-height: 10vh;
	max-width: 35vw;
	max-height: 100px;
}

/* Styles all the buttons within the admin controls task bar. */
.adminControlButton {
	background-color: #FAC01A;
	color: #002454;
	font-size: 0.95em;
	width: 25%;
	text-align: center;
	align-content: center;
}

/* Styles the window containing the Add/Remove Users DataTable. */
.adminStudentControlsWindow {
	display: flex;
	flex-direction: column;
	text-align: center;
	border-style: solid;
	border-color: #007A33;
	width: auto;
	max-width: 75%;
	height: auto;
	margin-top: 3ch;
	margin-left: auto;
	margin-right: auto;
	min-width: 60%;
}

/* Styles the div before the Users table. THIS DIV IS NEEDED BEFORE THE TABLE IN ORDER
TO ATTACH THE TABLE'S BUTTONS TO THIS DIV. */
#divBeforeStudentTable {
	margin: auto;
	text-align: center;
	justify-content: space-evenly;
	background-color: #F68300;
	border-style: solid;
	border-color: #007A33;	
	margin-bottom: 2vh;
	width: auto;
	height: 15%;
	padding: 1%;
}

/* Styles the div before the Phase Review table. THIS DIV IS NEEDED BEFORE THE TABLE IN ORDER
TO ATTACH THE TABLE'S BUTTONS TO THIS DIV. */
#divBeforePhaseReviewTable {
	margin: auto;
	text-align: center;
	justify-content: space-evenly;
	background-color: #41B6E6;
	border-style: solid;
	border-color: #007A33;	
	margin-bottom: 2vh;
	width: auto;
	height: 15%;
	padding: 1%;
}

/* Styles the Phase Review window which houses the Phase Review DataTable. */
.adminPhaseReviewWindow {
	display: flex;
	flex-direction: column;
	text-align: center;
	border-style: solid;
	border-color: #F68300;
	width: auto;
	max-width: 75%;
	height: auto;
	margin-top: 3ch;
	margin-left: auto;
	margin-right: auto;
	min-width: 60%;
}

/* Styles the embedded student home page window. */
.embeddedHomePage {
	display: flex;
	flex-direction:column;
	text-align: center;
	background-color: #1e9e49;
	width: 35vw;
	height: 50vh;
	max-height: 100vh;
	margin: auto;
}

.embeddediframe {
	height: 100vh;
	width: 100vw;
}


/* #### HOME.HTML STYLING WILL FOLLOW UNDER HERE #### */
/* styles all the forms on the home page */
form {
	display: flex;
	align-items: center;
	flex: 1;
	align-content: space-evenly;
	justify-content: space-evenly;
}

/* styles the phases bar on the home page */
.progressBar {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: stretch;
	background-color: #002454;
	border-style: solid;
	border-color: #000000;
	width: 99vw;
	left: 5vw;
	top: 5vh;
	margin: auto;
}
/* styles the milestones in the progress bar */
.milestone{
	flex: 1;
	border-style: solid;
	border-top-style: none;
	border-width: 0.1vw;
	border-spacing: 0px;
	border-color: #000000;
	background-color: #002454;
	text-align: center;
	text-justify: center;
	cursor: pointer;
	font-size: 1vw;
	color: #ffffff;
	text-decoration: underline;
}


/* styles the drop down menu */
.milestoneData{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: stretch;
	background-color: #002454;
	border-width: 0.2vw;
	border-style: solid;
	border-top-style: none;
	border-color: #000000;
	width: 20vw;
	left: 4.70vw;
	top: 8vh;
}

/* styles the task bars in the drop down menu */
.milestoneDataText{
	flex: 1;
	width: inherit;
	border-style: none;
	border-top-style: solid;
	border-color: #000000;
	border-width: 0.2vw;
	background-color: #002454;
	text-align: center;
	font-size: 1vw;
	color: #ffffff;
	text-justify: center;
	cursor: pointer;
	height: 15vh;
}

.dropdown {
	display: none;
}

.fileView {
	position: absolute;
	background-color: #002454;
	border-style: solid;
	border-color: #000000;
	border-width: 0.2vw;
	width: 75vw;
	height: 85vh;
	left: 20.5vw;
	font-size: 2vw;
	color: #ffffff;
	text-align: center;
}

.help {
	width: 5%;
	float: right;
}

.refreshButton{
	margin-right: 0;
	margin-left: auto;
	display: block;
	padding: 0;
	border: 0;
	background-color: inherit;
}

.refreshIMG{
	height: 1vh;
	width: 1vw;
	padding: 0;
	border: 0;
}

.fileDelete{
	position: relative;
	top: 84%;
	/*left: 45%;*/
	display: block;
	margin: auto;
}

.fileUpload{
	margin : auto;
	display : block;
}

.fileDownload {
	margin : auto;
	display: block;
}